*{
  margin: 0px;
  padding:0px;
}

header {
  background-color: rgb(255, 251, 240);
  margin: 0px;
  padding:0px;

}
#navigation {
  float:right; 
  background-color: rgb(255, 251, 240);}

h1{
  font-family:Lobster;
  font-size: xx-large;
  color:rgb(66, 22, 168)
}

h2{
  font-family:'Zen Loop', cursive;
  font-size: large;
  color:dodgerblue
}

h3{
  font-family:'Zen Loop', cursive;
  font-size: medium;
  color:rgb(63, 65, 223)
}

p{
  font-family: 'Uchen', serif;
  font-size: medium;
  color:rgb(14, 15, 78);
}
li{
  font-family: 'Uchen', serif; 
  font-size: medium;
  color:rgb(20, 33, 228);
}

.cream-background{background-color: beige;}

.thick-red-border {
    border-color: rgb(75, 130, 231);
    border-width: 10px;
    border-style:groove;
    border-radius: 10px;
    width: 300px;
    border-radius:50%;
} 

