*{
  margin: 0px;
  padding:0px;
}

/*Header and navigation*/

header {
  background-color: #68a9af;
  width:100%;
  height: 100px;
  text-align:center;
  position: fixed;
  overflow: hidden;
  width: 100%; 
}

.grid-Header {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-gap: 10px;
  padding:10px 10px 0px 20px;
}

.grid-Header > div {
  text-align: center;
  font-size: 30px;
}

.hz-logo{
  grid-area: 1/2 ;
}

#hz-logo{
  height: 80px;
  width: auto;
  padding:5px 10px ;
}

.nav-list{
  list-style-type:none;
  margin-top: 6.5%;
  background-color: #ddd8a6;
  position: fixed;
  overflow: auto;
  width: 100%;
 }

 .nav-list li{
  float:left;
  text-align: center;
 }
 
.nav-list li a { 
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size:20px;
  color:#F9FAF4;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 5%;
  width:110px;
  height:20px;
}

.nav-list a:hover {
  background-color: #f1f1ec;
  color: #68a9af;
  padding-bottom: 20% !important;
}

.active {
  background-color:#F9FAF4;
  color:#68a9af !important; 
  padding-bottom: 20% !important;
}


/*center of page*/

body{
  background-color:#F9FAF4;
}

main{
  padding:11% 2% 3% 2%;
}

/*footer area*/

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-Menu {
  list-style-type:none;
  margin:0;
  padding:0;
 width: 100%;
 background-color: #68a9af;
 float:left;
}

.footer-Menu li{
  float:left;
  text-align: center;
 }

.footer-Menu li a { 
  display:block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family:Arial, Helvetica, sans-serif;
  font-size:18px;
  color: #F9FAF4;
  font-weight: bold;
}

.footer-Menu a:hover {
  background-color: #F9FAF4;
  color: #68a9af;
}



/*General elements*/
h1{
  text-align: Left;
  font-family:Lobster;
  font-size: 50px;
  color: #F9FAF4;
}


h2{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:#F17A7E;
}

h3{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:#FFC94B;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
}

.thick-pic-border {
  border-color:transparent;
  border-width: 20px;
  border-style:groove;
  border-radius: 40px;
  width: 400px;
  height: auto;
  grid-area: 1 / 1 ;
} 

/*Nav for Home Page */

header.home {
  background-color: #F9FAF4;
  width:100%;
  height: 100px;
  text-align:center;
  position: fixed;
  overflow: hidden;
  width: 100%;
}

h1.home{
    text-align: Center;
    font-family:Lobster;
    font-size: 50px;
    color: #68a9af;
    padding-top:10px;

}

/*home page*/ 
.grid-home-page {
  display: grid;
  grid-template-columns: auto 45% auto ;
  grid-gap: 5px ; 
}

.grid-home-page > div {
  text-align: center;
  font-size: 30px;
  justify-items:  center;
}

.pic-border {
  width: 400px;
  height: auto;
  grid-area: 1 / 1 /1/1;
  border-radius: 10%;
} 

.bamba {
  width: 400px;
  height: auto;
  grid-area: 2 / 1;
  border-radius: 10%;
} 

.luna {
  width: 400px;
  height: auto;
  grid-area: 2/3;
  border-radius: 10%;
} 

.Main-home-page {
  grid-area: 1 / 2 / 3 / 3 ;
  padding: 20px 10px 0px 10px;
  
}

.goals-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  list-style-type: none;
}


.social-media-grid {
  display: grid;
  grid-template-columns: 50% 50% ;
  grid-gap: 5px 5px ;
  width: 100%;
  grid-area: 3/2/3/2;
}

.title-social-media{
  grid-area: 1/1/1/3 ;
  text-align: center;
}

.facebook{
  grid-area: 2 / 1  ;
  justify-items:  center;
  align-items: center;
}

.instagram{
  grid-area: 2 / 2  ;
  justify-items:  center;
  align-items: center;
}

.old-web{
  grid-area:3/3;
}
#old-web {
   font-family: Arial, Helvetica, sans-serif;
   color:#68a9af;
   font-size: 18px;
   text-decoration: none;
}


/*Profile Page*/

.grid-profile {
  display: grid;
  grid-template-columns: auto 45% auto ;
  grid-template-rows: auto auto auto auto;
}

.grid-profile > div {
  text-align: center;
  font-size: 30px;
}

.Main-grid-profile {
  grid-area: 1 / 2 / 4  ;
  padding:10px 10px 10px 10px;
}

.couple-pic {
  grid-area: 1 / 1 ;
}

#couple-pic {
  width: 400px;
  height: auto;
  border-radius: 10%;
} 
 
.family-pic{
  grid-area:3/3;
}

#family-pic {
  border-radius: 10%;
  width:auto;
   height:300px;
}

.cactus-pic{
  grid-area:2/1;
  align-items: center;
  justify-items: center;
}

#cactus-pic {
  border-radius: 10%;
  width:auto;
  height:300px;
  padding-top:100px;
}
.army-pic{
  grid-area:1/3;
}

#army-pic{
  border-radius:10%;
  width:400px; 
  height:auto;
  padding-top:200px;
 }

.nephews-pic{
  grid-area:4/ 1/4/4;
  justify-items: center;
}

#nephews-pic{
border-radius: 10%;
width:auto;
height:300px;
}

.hobbies-pic {
  grid-area:2/3;  
}

#hobbies-pic{
  width: 400px;
  height: auto;
  border-radius: 10%;
}

.inner-grid-hobbies{
display:grid;
grid: 30% 60%;
}

#hobbies-list {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  grid-area:1/1/2/2;
  list-style-type: none;
}

.par-hobbies{
  grid-area: 2/1/3/2;
}


/*Dashboard*/

table.dashboard-table-quartile {
  border-collapse:collapse;
  margin: 50px 0;
  box-shadow: 0 0 30px #F17A7E;
  border-radius: 25px;
  overflow:hidden;
  background-color: #F17A7E;
 width: 100%;
}


.dashboard-table-quartile th,
.dashboard-table-quartile td {
    padding: 12px 20px;
    width: 25% ;
}

.dashboard-table-quartile thead tr {
  background-color: #FFC94B;
  color: #F9FAF4;
  text-align: Center;
  font-size: 24px;
  font-family: Lobster;
}

.dashboard-header-table {
  background-color: #F17A7E;
  font-size: 40px;
  color:#F9FAF4;
  font-weight: bold;
  font-family: Lobster;
  text-align: Center;
}

.dashboard-table-quartile tbody td {
  background-color: #F9FAF4;
  color: #0a0a0a;
  text-align: Center;
  font-size: 18px;
  border-right: 1px solid #FFC94B;
  border-bottom: 1px solid #FFC94B;
  font-family: sans-serif;
}


/* Progress Bar*/
/* Ideas to add - automatically change color with javascript according to num of credits, maybe add animation or sliding bar*/

#credits {
  height:24px;
  width: 1000px;
}

#bar {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:#000000;
  padding: 1%;
}

.prog-bar {
background-color: #f8e751;
border-radius: 10px;
border:2px solid #FFC94B;
}


/* FAQ Page*/

.summary{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  text-align:center;
  color:#F9FAF4;
  background-color: #e4d5b2 ;
  border-radius: 10%;
  box-shadow: 0 0 30px #f1ddac;
  height: 50px;
  padding: 5% 5% 3% 5%;
  font-weight: bold;
}


.p-summary {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  padding:1% 10% 5% 10%;
  background-color: #F17A7E ;
  border-radius: 10%;
  box-shadow: 0 0 30px #FFC94B;
  font-weight: lighter;
}

.p-summary2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  padding:1% 10% 5% 10%;
  background-color: #a8e3f1 ;
  border-radius: 10%;
  box-shadow: 0 0 30px #FFC94B;
  font-weight: lighter;
}

.p-summary3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  padding:1% 10% 5% 10%;
  background-color: #FFC94B ;
  border-radius: 10%;
  box-shadow: 0 0 30px #FFC94B;
  font-weight: lighter;
}


.grid-faq {
  display: grid;
  grid-gap: 50px;
  padding-top: 2%;
}

.grid-faq > div {
  text-align: center;
  font-size: 30px;
  grid-template-columns: auto auto  ;
  grid-template-rows: 200px 200px 200px 200px 200px;
}

.q1-faq {
  grid-area: 1 / 1 ;
}

.q2-faq {
  grid-area: 2 / 2 ;
}

.q3-faq {
  grid-area: 3 / 1 ;
}

.q4-faq {
  grid-area: 4 / 2 ;
}

.q5-faq {
  grid-area: 5 / 1 ;
}
 
.apple-pic {
  grid-area:1/2;  
}

#apple-pic{
  width: 200px;
  height: auto;
  border-radius: 10%;
}

.pineapple-pic {
  grid-area:2/1;  
}

#pineapple-pic{
  width: 200px;
  height: auto;
  border-radius: 10%;
}

.orange-pic {
  grid-area:3/2;  
}

#orange-pic{
  width: 200px;
  height: auto;
  border-radius: 10%;
}

.pear-pic {
  grid-area:4/1;  
}

#pear-pic{
  width: 150px;
  height: auto;
  border-radius: 10%;
}

.strawberry-pic {
  grid-area:5/2;  
}

#strawberry-pic{
  width: 200px;
  height: auto;
  border-radius: 10%;
}



/* Blog Area  */

h1.blog {
  text-align: left;
  font-family:Lobster;
  font-size: 50px;
  color:rgb(238, 238, 234)
}

h2.blog {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:#080806;
  background-color: #f7eeda;
  border-radius: 10px;
  margin-top:2%;
  text-align: center;
  font-weight: lighter;
  
}

h3.blog {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:rgb(13, 32, 51)
}

p.blog-pos1 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  padding:20px;
  border-bottom: 2px groove #2f4044;
  background-color: #a8e3f1;
  text-align: left;
  border-radius: 10px;
}

p.blog-pos2 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  padding:20px;
  border-bottom: 2px groove #2f4044;
  background-color: #F17A7E;
  text-align: left;
  border-radius: 10px;
}

p.blog-pos3 {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  padding:20px;
  border-bottom: 2px groove #2f4044;
  background-color: #FFC94B;
  text-align: left;
  border-radius: 10px;
}

.read-me {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:#345558;
}



/*Posts*/
 #post-header{
  background-color: #68a9af;
  width:100%;
  height: 100px;
  text-align:center;
  position: fixed;
  overflow: hidden;

 }

.grid-Header-posts {
  display: grid;
  grid-template-columns: 90% 10%;
  grid-gap: 10px;
  padding:10px 10px 0px 20px;
}

.grid-Header-posts > div {
  text-align: center;
  font-size: 30px;
}

.hz-logo2{
  grid-area: 1/2 ;
}

#hz-logo2{
  height: 80px;
  width: auto;
  padding:5px 10px 0px 10px ;
}

h1.blog-post{
  text-align: left;
  font-family:Lobster;
  font-size: 50px;
  color:rgb(238, 238, 234);
}


h2.blog-post{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 22px;
  color:#F17A7E;
}

h3.blog-post{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  color:rgb(13, 32, 51)
}

p.blog-post {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  margin:auto;
}

.blog-post li{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:rgb(14, 15, 78);
  margin:auto;
  margin-left:2%;
}



/* ICT-Field of Work Blog Post*/

.grid-ict {
  display: grid;
  grid-template-columns: 25% 20% 55%;
  grid-gap: 30px;
  padding:10px;
}

.grid-ict > div {
  text-align: left;
}
.hackerone-pos{
  grid-area: 1 / 3;
}

.hackerone-poster-pos{
  grid-area: 1 / 1 ;
}

.hackerone-poster-pos:hover{
  transform: scale(2);
  padding-left: 20%;
  padding-top: 20%;
  }
  
.grid-ict2 {
  display: grid;
  grid-template-columns: 55% 20% 25%;
  grid-gap: 30px;
  padding:10px;
}

.grid-ict2 > div {
  text-align: left;
}
.atos-pos{
  grid-area: 1 / 1;
}

.atos-poster-pos{
  grid-area: 1 / 3 ;
}

.atos-poster-pos:hover{
  transform: scale(2);
  padding-right: 20%;
  padding-bottom: 20%;
  }

